* { font-family:"Montserrat";
    font-weight: 600;
color: rgb(255, 255, 255);}

html { background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}


.CV {color: white;
    width: 200px;}

header{  margin: 5px;
    padding: 10px; 
    text-align: center;
 
}

h1 {font-family:"Press Start 2P";
    text-align: center;
    font-size: 3rem;

   
}

img.image-profile{
width: 50px;
border-radius: 9999px;
}

img.name{ border-radius: 9999px;}

h2 {font-size: 2.5rem;
    text-transform: uppercase;
    border-top: .5px solid rgb(255, 255, 255);
    border-bottom: .5px solid rgb(255, 255, 255);
    padding: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    text-align: center;
}

h2 { line-height: 1.5;
    font-family:"Press Start 2P";
}

li{line-height: 1.5;
display: flexbox;
align-items: center;}

.box{display: grid;
grid-template-columns: 1fr 1fr;}

footer {font-family:"Press Start 2P";
    text-align: right;
    font-size: .5rem;
 margin-top: 100px;}


  body{background: linear-gradient(black,rgb(132, 0, 255) , black,rgb(132, 0, 255) );
padding: 5rem 5rem;}

a:hover {color: rgb(70, 248, 0);
font-weight: bold;}

h1:hover{color: rgb(70, 248, 0)}
h2:hover{color: rgb(70, 248, 0)}

.star{content: url(star\ fill.png);
height: 2em;}
.unstar{content: url(Star\ unfill.png);
height: 2em;}